[submodule "piton/design/chip/tile/gpcore"]
	path = piton/design/chip/tile/gpcore
	url = https://github.com/alaasal/GPCore
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
